figcaption {
    color:rgb(255, 0, 0);
}
li:hover {
    color:rgb(255, 0, 0);
}

.flexbox-container {
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.fleckr {
    display:flex
    flex-direction:column
}
.section1 {
    background-color:rgb(242, 255, 0);
    border-radius:100px;
    border:10px solid rgb(0, 0, 0);
    text-align: center;
    
}

.section2 {
    background-color:rgb(242, 255, 0);
    border-radius:100px;
    border:10px solid rgb(0, 0, 0);
     text-align: center;
     display:flex
}

.section3 {
    background-color:rgb(255, 0, 0);
    border-radius:100px;
    border:10px solid rgb(0, 0, 0);
     text-align: center;
   
}

.section6 {
    background-color:rgb(255, 0, 0);
    border-radius:100px;
    border:10px solid rgb(0, 0, 0);
     text-align: center;
   
}

.section5 {
    background-color:rgb(229, 255, 0);
    border-radius:100px;
    border:10px solid rgb(0, 0, 0);
     text-align: center;
   
}


.section4 {
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
h1, p, h6{
    font-family: "Beth Ellen";
}
.yeah {
    color: limegreen;
    text-align: center;
}

.section767 {
    background-color:rgb(242, 255, 0);
    border-radius:100px;
    border:10px solid rgb(0, 0, 0);
    text-align: center;
    
}